<body onload="typeWriter()">
    <div class ="text-center home-callout container-fluid">
    <p class="home-text">Welcome to</p>
    <br />

    <p class="home-text" id="demo"></p>
    
    <script>
    var i = 0;
    var txt = 'N & K Creations';
    var speed = 70;
    
    function typeWriter() {
      if (i < txt.length) {
        document.getElementById("demo").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }
    }
    </script>
    </div>
    <p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p>
    <p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p>
    <p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p>
    <p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p>
    <p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p>
    <p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p><p>lorem ipsum.</p>
</body>